@font-face
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url('fonts/Montserrat-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url('fonts/Montserrat-Bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face
{
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand Bold'), local('Quicksand-Bold'), url('fonts/Quicksand-Bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
*
{
  margin: 0;
  outline: none;
  padding: 0;
}
html
{
  background-color: #ebebeb;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.125vw;
  height: 100%;
  width: 100%;
}
body
{
  height: 100%;
  width: 100%;
}
nav
{
  background-color: #373c3f;
  color: white;
  display: block;
  height: 12vw;
}
.nav__text
{
  font-size: 1.2rem;
  float: left;
  line-height: 12vw;
  padding-left: 6vw;
}
.nav__menu-button
{
  background: #202529 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAUAQMAAABPp3S5AAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAABNJREFUCNdj+P///z90AgugRB0AVUUvxe6YSKcAAAAASUVORK5CYII=') no-repeat scroll center;
  background-size: 40.36458333% auto;
  cursor: pointer;
  float: right;
  height: 100%;
  width: 12vw;
}
header
{
  background-color: #0b9db4;
  color: white;
  padding: 17vw 21vw 17vw 8vw;
}
.header__text
{
  font-size: 1.8rem;
}
.header__link
{
  color: rgba(255,255,255,0.5);
  display: block;
  margin-top: 5vw;
  text-decoration: none;
  width: 100%;
}
.header__link::after
{
  color: white;
  content: '>';
  display: block;
  float: right;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
}
.robin-hood
{
  background-color: #27212c;
  cursor: pointer;
  height: 24vw;
}
.robin-hood__text
{
  color: #9282a0;
  float: left;
  line-height: 24vw;
  padding-left: 8vw;
}
.robin-hood__button
{
  background-color: #bc3183;
  color: white;
  float: right;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  height: 100%;
  line-height: 24vw;
  text-align: center;
  width: 22vw;
}
.text-content
{
  padding: 11vw 11vw 15vw;
}
.text-content h1
{
  color: #088ca5;
  font-size: 1.9rem;
  font-weight: normal;
  padding-bottom: 2rem;
}
.text-content p
{
  color: #515151;
  font-size: 1.35rem;
}
.text-content p:not(:last-of-type)
{
  padding-bottom: 2.8rem;
}
main
{
  font-size: 0; /* removes white spaces between inline blocks */
}
.main__block
{
  height: 86vw;
  vertical-align: top;
}
.main__block--1
{
  background-color: #5b0fa1;
}
.main__block--2
{
  background: #7881d1 url('img/block-2.jpg') no-repeat scroll center;
  background-size: cover;
}
.main__block--3
{
  background: #f3ede5 url('img/block-3.jpg') no-repeat scroll center;
  background-size: cover;
}
.main__block-a
{
  color: white;
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-size: 4rem;
  line-height: 86vw;
  text-align: center;
  text-decoration: none;
}
.nav__menu
{
  display: none;
  padding-left: 52px;
}
.nav__menu-item
{
  color: white;
  font-size: 15px;
  height: 100%;
  line-height: 97px;
  text-decoration: none;
  text-transform: uppercase;
}
.nav__menu-item:not(:last-of-type)
{
  padding-right: 20px;
}
.text-content__column--right
{
  display: none;
}
@media screen and (min-device-width: 980px)
{
  .nav__text, .nav__menu-button
  {
    display: none;
  }
  nav
  {
    height: 97px;
  }
  .nav__menu
  {
    display: block;
  }
  header
  {
    padding: 19vw 21vw 16vw 8vw;
  }
  .main__block
  {
    display: inline-block;
    height: 28vw;
    width: 33.33%;
  }
  .main__block-a
  {
    font-size: 4vw;
    line-height: 28vw;
  }
  .text-content__column--right
  {
    float: left;
  }
  .text-content__column--right
  {
    float: right;
  }
  .text-content__column
  {
    display: inline-block;
    width: 35vw;
  }
  .text-content h1
  {
    font-size: 30px;
    padding-bottom: 27px;
  }
  .text-content p
  {
    font-size: 14px;
  }
  .text-content p:not(:last-of-type)
  {
    padding-bottom: 40px;
  }
}